#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li New /mentions command will display your latest 3 mentions using the Polecat.me/mentions API.
    li Commands: "/mentions" or "/mentions username count" IE: /mentions downthecrop 15

  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
