#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li New emote PepoThink
    li Changed menu item icon to fa-paw. I received permission from Aslan himself.
    li HerbPerve and ShibeZ removed.
    li Error checking to prevent JSON corruption in name colors.

  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
