#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Better Better Destiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li PepoThink is now part of the core Destiny.gg site so the files have been cleaned up
    li Added commands to easily modify BBDGG word filtering and user ignores with /iu and /iw
    li Updated /help command to provide all available commands and a link to the BBDGG GitHub Wiki

  hr
  .bdgg-menu-footer
    a(href="http://downthecrop.xyz/bbdgg" target="_blank") Homepage
